<html>
<head>
	<title>project555 - Home</title>
</head>
<body style="font-family:'Lucida Console', Monaco, monospace;">

	<h1>WELCOME TO <em>project555</em></h1>
	<h3>Use the links below to navigate:</h3>	

	<ul>
		<li><a href="{{ new }}">Create a new puzzle</a></li><br />
		<li>Existing problems (new ones will appear here as they are created):
			<br /><br />
			<ol>

				{% for i in info %}

					<li>
						Objective: {{ i.sum }}; 
						Sides: {{ i.sides }}; 
						Rows: {{ i.rows }}; 
						<a href="/project555/index.php/problem/{{ i.problem_id }}">
							ID: {{ i.problem_id }}
						</a>
					</li>

				{% endfor %}

			</ol>
		</li>	
	</ul>


</body>
</html>